@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
} */

#sticker:hover
{
  transform: scale(1.5);
}

#home-menu
{
  position: relative;
  transform: skewY(-15deg);

}

#home-menu li
{
  position: relative;
  list-style: none;
  width: 200px;
  background: #ffffff;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}

/* LOGIN / LOGOUT COLOR */
/* #home-menu li.login,
#home-menu li.login::before,
#home-menu li.login::after
{
  background: #e2fac0;
}

#home-menu li.login:hover,
#home-menu li.login:hover::after
{
  background: #9ab970;
}
#home-menu li.login:hover::before
{
  background: #496b18;
}

#home-menu li.login:last-child::after
{
  box-shadow: -120px 120px 20px #277027;
}

#home-menu li.logout,
#home-menu li.logout::before,
#home-menu li.logout::after
{
  background: #ffe8e5;
}

#home-menu li.logout:hover,
#home-menu li.logout:hover::after
{
  background: #c06b60;
}
#home-menu li.logout:hover::before
{
  background: #835751;
}

#home-menu li.logout:last-child::after
{
  box-shadow: -120px 120px 20px #863e3e;
} */
/* ------------ */


#home-menu li:hover
{
    background: #b1b1b1;
    transform: translateX(50px);
}

#home-menu li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #ffffff;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

#home-menu li:hover::before
{
    background: #5f5f5f;
}

#home-menu li::after
{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

#home-menu li:hover::after
{
    background: #999999;
}

#home-menu li a
{
    text-decoration: none;
    color: #5c5c5c;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

#home-menu li:hover a
{
    color: #fff;
}

#home-menu li:last-child::after
{
    box-shadow: -120px 120px 20px rgba(255, 255, 255, 0.25);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
}

.mode {
  float:right;
}
.change {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
  position: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
