@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFD6A5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color-scheme: dark;
  background-color: #374259;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #FCEEB5;
} */
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#sticker:hover
{
  transform: scale(1.5);
}

#home-menu
{
  position: relative;
  transform: skewY(-15deg);
}

#home-menu li
{
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffc750;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
/* LOGIN / LOGOUT COLOR */
#home-menu li.login,
#home-menu li.login::before,
#home-menu li.login::after
{
  background: #a0d15f;
}

#home-menu li.login:hover,
#home-menu li.login:hover::after
{
  background: #71a32e;
}
#home-menu li.login:hover::before
{
  background: #496b18;
}

#home-menu li.login:last-child::after
{
  box-shadow: -120px 120px 20px #277027;
}

#home-menu li.logout,
#home-menu li.logout::before,
#home-menu li.logout::after
{
  background: #ec5e4b;
}

#home-menu li.logout:hover,
#home-menu li.logout:hover::after
{
  background: #d85241;
}
#home-menu li.logout:hover::before
{
  background: #913225;
}

#home-menu li.logout:last-child::after
{
  box-shadow: -120px 120px 20px #863e3e;
}
/* ------------ */

#home-menu li:hover
{
    background: #33a3ee;
    transform: translateX(50px);
}

#home-menu li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #ffc700;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

#home-menu li:hover::before
{
    background: #1f5378;
}

#home-menu li::after
{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffc770;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

#home-menu li:hover::after
{
    background: #33a3ee;
}

#home-menu li a
{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

#home-menu li:hover a
{
    color: #fff;
}

#home-menu li:last-child::after
{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}