@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

ul
{
    position: relative;
    transform: skewY(-15deg);

}

ul li
{
    position: relative;
    list-style: none;
    width: 200px;
    background: #ffc750;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover
{
    background: #33a3ee;
    transform: translateX(50px);
}

ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #ffc700;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li:hover::before
{
    background: #1f5378;
}

ul li::after
{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffc770;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li:hover::after
{
    background: #33a3ee;
}

ul li a
{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a
{
    color: #fff;
}

ul li:last-child::after
{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  margin: 0;
  padding: 0;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  background: #FCEEB5;
}

.dark-mode {
  background-color: #282c34;
  color: white;
}

.mode {
  float:right;
}
.change {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: 1px solid #b8b8b8;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.dark{
  background-color: #222;
  color: #e6e6e6;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
  position: center;
}

.sticker {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sticker:hover {
  transform: scale(2.1);
  transition: transform 0.5s ease-in-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  .sticker{
    width: 25%;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
